<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/mainpage.css" type="text/css" />

 <!-- Boxicons CDN Link -->
 <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
 crossorigin="anonymous"/>
<title>home page</title>

</head>
<style>
.sidebar .bx-log-out:hover{
  color: red;
}

</style>



<body>

<%- include('header'); -%>



  <section class="home-section">
     
      <div class="topnav">
        <a class="floatleft" href="homepage">
                    <img src="https://cdn.shopify.com/s/files/1/0467/8660/9318/files/Tokimeku_Tag_Tokimeku_Logo_480x480.png?v=1620028225" class="paddingimg" alt="tokimeku" style="width:200px;height:75px;">
                  </a>

        <p class="floatleft">WMS Home</p>
    
        </div>

        <div class="container">
          <a href="addinfo">
          <div class="box">
            <div class="icon"><i class="fas fa-plus-square"></i></div>
            <div class="content">
            <h3>Assets</h3>
            <p>Add Items</p>
          </div>
          </div>
        </a>
       
        <a href="searchinfo">
        <div class="box">
          <div class="icon"><i class="fas fa-search"></i></div>
            <div class="content">
          <h3>Assets</h3>
          <p>Search Items</p>
          </div>
        </div>
      </a>

      <a href="mdseadd">
        <div class="box">
          <div class="icon"><i class="fas fa-folder-plus"></i></div>
            <div class="content">
          <h3>MDSE</h3>
          <p>MDSE in</p>
          </div>
        </div>
      </a>
      <a href="mdseout">
        <div class="box">
          <div class="icon"><i class="fas fa-folder-minus"></i></div>
            <div class="content">
          <h3>MDSE</h3>
          <p>MDSE out</p>
          </div>
        </div>
      </a>
      <a href="productivity">
        <div class="box">
          <div class="icon"><i class="fas fa-folder-minus"></i></div>
            <div class="content">
          <h3>Productivity</h3>
          <p>Productivity</p>
          </div>
        </div>
      </a>
     <!--
      <a href="downloadinfo">
        <div class="box">
          <div class="icon"><i class="fas fa-download" aria-hidden="true"></i></div>
            <div class="content">
          <h3>Download</h3>
          <p>Download Excel</p>
          </div>
        </div>
      </a>
-->
        </div>
  </section>

</body>






</html>