<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="/addpage.css" type="text/css" />

 <!-- Boxicons CDN Link -->
 <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
 <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
 crossorigin="anonymous"/>

<title>Merchandise add Item</title>

</head>
<style>
.sidebar .bx-log-out:hover{
  color: red;
}

</style>



<body>

  <%- include('header'); -%>


  <section class="home-section">
     
      <div class="topnav">
        <a class="floatleft" href="homepage">
                    <img src="https://cdn.shopify.com/s/files/1/0467/8660/9318/files/Tokimeku_Tag_Tokimeku_Logo_480x480.png?v=1620028225" class="paddingimg" alt="tokimeku" style="width:200px;height:75px;">
                  </a>

        <p class="floatleft">Merchandise Add Item</p>
    
        </div>
        
        <% if(message.length > 0){ %>
          <div class="alertmessage">
           <p> <%=message%></p>
          </div>
        <%}%>
        <% if(error.length > 0){ %>
          <div class="alerterror">
           <p> <%=error%></p>
          </div>
        <%}%>
        <div class="container">
         
            <form name="" action="insertMDSE" method ="post">
                Item :<input type="text" name="itemID" placeholder="item name" required /><br>
                Batch :<input type="text" name="batch" placeholder="batch" required /><br>
                               

              Quantity :<input type="number" name="qty" placeholder="Quantity.." required /><br>

              Location :                  
              <label class="select" for="slct">
                  <select name="location" id="location" required="required">
                    <option value="" disabled="disabled" selected="selected">Select option</option>
                    <option value="GF-Room1">GF-Room1</option>
                    <option value="GF-Room2">GF-Room2</option>
                    <option value="GF-Store">GF-Store</option>
                    <option value="Production Area">Production Area</option>              
                    <option value="FF-Room1">FF-Room1</option>
                    <option value="FF-Room2">FF-Room2</option>
                    <option value="FF-Room3">FF-Room3</option>
                    <option value="FF-Room4">FF-Room4</option>
                    <option value="Others">Others</option>
                  </select>
                 
              
            <br>                 
                
              Brand : <input type="text" name="brand" placeholder="if no brand put 'Others'" required /><br>
            
              
              Remarks : <br>
              <textarea id="remarks" name="remarks" rows="4" cols="50" placeholder="supplier, exp date..."></textarea>
                <br>
               
             
                
                <input type="submit" value="Submit">
               
                
                </form>
               
                <form name="" action="homepage" method ="get">
                  <input type="submit"  onclick="homepage" value="Back">
                  </form>


        </div>
  </section>

</body>



</html>